@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #0000;
  --color-secondary: #00f050;   
  --font-family-display: "Roboto", sans-serif;
  --font-family-Anton: "Anton", sans-serif;
}

body {
  font-family: var(--font-family-display);
}


@theme {
  --color-primary: oklch(var(--color-primary));
  --color-secondary: oklch(var(--color-secondary));
  --font-family-display:  "Roboto", sans-serif;
  --font-family-Anton: "Anton", sans-serif;
}

/* html[dir="rtl"]{
  font-family: "Rubik", sans-serif !important;
}
html[dir="ltr"]{
  font-family: "Roboto Serif","sans-serif" !important;
} */

::-webkit-scrollbar {
  @apply w-[8px] h-3;
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-primary/20;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}



.animation {
  transition: all 0.4s ease-in-out;
}



/* *,
*::before,
*::after {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg") 5 5, auto;
} */


.react-datepicker__close-icon {
  @apply bg-primary rounded-full !hidden;
}

.react-datepicker-wrapper {
  @apply w-full;
}



/*  */
@keyframes sway {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.animate-sway {
  animation: sway 2s infinite ease-in-out;
}

